DEBUG='False'
ALLOWED_HOSTS='127.0.0.1,acharayavishalmishra.com,www.acharayavishalmishra.com'

CLOUD_NAME=''
API_KEY=''
API_SECRET=''

R2_ACCOUNT_ID=''
R2_ACCESS_KEY_ID=''
R2_SECRET_ACCESS_KEY=''
R2_BUCKET_NAME=''
HLS_EXPIRY='18000'
