{% extends "base.html" %}

{% block title %}Explore our album{% endblock title %}
{% block metadesc %}Explore our album{% endblock metadesc %}

{% block ogtitle %}Explore our album{% endblock ogtitle %}
{% block ogdesc %}Explore our album{% endblock ogdesc %}

{% block twtitle %}Explore our album{% endblock twtitle %}
{% block twdesc %}Explore our album{% endblock twdesc %}

{% block body %}
<style>
    .image-container {
        width: 100%;
        padding-top: 100%;
        /* Creates a square aspect ratio */
        position: relative;
        /* For positioning the image inside */
        overflow: hidden;
        /* Ensures that overflowed image parts are hidden */
    }

    .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensures the image covers the container without distortion */
    }

    .image-container img:hover {
        transform: scale(1.1);
        transition: transform 0.1s ease-out;
        cursor: pointer;
    }

    .btn-grp a {
        width: 40px;
        height: 40px;
    }
</style>
<div class="container mt-2 mb-4">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Album</li>
        </ol>
    </nav>
    <!-- <div class="d-flex align-items-center justify-content-between"> -->
    <h3 class="">Explore Our Album</h3>
    <h6 class="text-muted p-0 mb-4">Showing page {{images.number}} of {{last_page}}</h6>
    <!-- </div> -->
    <div class="row">
        {% for image in images %}
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 rounded">
            <div class="image-container rounded" onclick="showModalWithImage('{{ image.image.url }}')">
                <img class="img-fluid" src="{{ image.image.url }}" alt="Adhyayan Album Image">
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="btn-grp d-flex justify-content-center w-100 my-2">
        {% if images.has_previous %}
            <a href="/album/{{images.previous_page_number}}" class="m-2 rounded btn btn-primary d-flex align-items-center justify-content-center" aria-current="page"><i class="fa-solid fa-angle-left"></i></a>
        {% else %}
            <button disabled class="m-2 rounded btn btn-primary d-flex align-items-center justify-content-center" aria-current="page"><i class="fa-solid fa-angle-left"></i></button>
        {% endif %}
        <a href="#"
            class="m-2 rounded btn btn-primary d-flex align-items-center justify-content-center active">{{images.number}}</a>
        {% if images.has_next %}
            <a href="/album/{{images.next_page_number}}" class="m-2 rounded btn btn-primary d-flex align-items-center justify-content-center" aria-current="page"><i class="fa-solid fa-angle-right"></i></a>
        {% else %}
            <button disabled class="m-2 rounded btn btn-primary d-flex align-items-center justify-content-center" aria-current="page"><i class="fa-solid fa-angle-right"></i></button>
        {% endif %}
    </div>
    <p class="text-muted text-center">Showing page {{images.number}} of {{last_page}}</p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <img id="modalImg" class="img-fluid rounded w-100" src="" alt="">
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script>
    const showModalWithImage = (url) => {
        document.getElementById("modalImg").src = url;
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
    };
</script>
{% endblock body %}